<div class="login-page">
  <div class="login-form w-25 my-5 container">
    <h1>Login</h1>
    <form [formGroup]="loginForm">
      <div class="mb-3">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" id="email" />
        @if(email?.invalid && email?.touched){
        <small class="text-danger"> Email is required </small>

        }
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password"/>
        @if(password?.invalid && password?.touched){
        <small class="text-danger"> Password is required </small>
        }
      </div>
      <div class="mb-3 d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" (click)="login()">Login</button>
      </div>
    </form>
  </div>
</div>
