.navbar {
    .navbar-nav {
        .nav-link{
            font-size: 20px;
            letter-spacing: 2px;
            font-family: "Roboto";
        }
    }
    .material-symbols-outlined{
        color: #fff;
    }
}

