<div class="account-header">
  <div class="icon-container">
    <div class="icons d-flex align-items-center">
      <div class="fav-icon mx-5">
        <span class="material-symbols-outlined">favorite</span>
      </div>
      <div class="fav-icon d-flex align-items-center mx-2">
        <a routerLink="shopping-cart" class="nav-link">
          @if(totalQuantity > 0){
            <span class="material-symbols-outlined" matBadge="{{totalQuantity}}"> shopping_cart </span>
        
          }
          @else {
            <span class="material-symbols-outlined"> shopping_cart </span>
          }
        
        </a>
      </div>
      <div class="fav-icon d-flex align-items-center mx-5">
        <span class="material-symbols-outlined"> account_circle </span>
      </div>
    </div>
  </div>
</div>
